[icingaweb2]
type                = "db"
db                  = "mysql"
host                = "localhost"
port                = "3306"
dbname              = "icingaweb2"
username            = "icingaweb2user"
password            = "stx2001"


[icinga2]
type                = "db"
db                  = "mysql"
host                = "localhost"
port                = "3306"
dbname              = "icinga2db"
username            = "icinga2user"
password            = "stx2001"

[director]
type                = "db"
db                  = "mysql"
host                = "localhost"
port                = "3306"
dbname              = "director"
username            = "director"
password            = "stx2001"